body {
  background: linear-gradient(
    135deg,
    rgb(252, 207, 49) 10%,
    rgb(245, 85, 85) 100%
  );
}

a,
.Coder {
  color: #212529;
  font-weight: bold;
  text-decoration: underline;
}

.App-header {
  font-weight: 700;
  font-size: 46px;
  padding: 20px;
  text-align: center;
}
.App-footer {
  font-size: 14px;
  margin: 30px 0;
  padding: 10px;
  text-align: center;
}
